.button {
    border-radius: 4px;
    padding: 8px 15px;
    background-color: #000;
    transition: 0.5s;
    font-size: 14px;
    line-height: 8px;
    color: #fff;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: rgb(100, 65, 255);
        text-decoration: none;
        color:#fff;
    }
    &_red {
        background-color: red;
        padding: 8px 60px;
    }
}